<form class="form-horizontal">
    <fieldset>

        <!-- Form Name -->
        <legend>Configuration</legend>

        <!-- Text input-->
        <div class="form-group {{if data.p1.isValid 'has-success' 'has-warning'}}  has-feedback">
            <label class="col-md-4 control-label" for="loc_sw">SW Limit</label>
          {{!--bind-attr class="swIsValid:has-success:has-warning"--}}
            <div class="col-md-4">
              {{input id="swInput" value=data.p1Text name="swinput" type="text" placeholder="<latitude>,<longitude>" class="form-control input-md"}}
              {{#if data.p1.isDirty}}
                {{#if data.p1.isValid}}
                    <span class="form-control-feedback" aria-hidden="true">{{fa-icon "check"}} </span>
                {{else}}
                    <span class="form-control-feedback" aria-hidden="true">{{fa-icon "exclamation-triangle"}} </span>
                    <span class="help-block" aria-hidden="true">Ex: 12.919297, 77.581935</span>
                {{/if}}
              {{else}}
                  <span class="help-block" aria-hidden="true">Ex: 12.919297, 77.581935</span>
              {{/if}}


            </div>
        </div>

        <!-- Text input-->
        <div class="form-group {{if data.p2.isValid 'has-success' 'has-warning'}}  has-feedback">
            <label class="col-md-4 control-label" for="textinput">NE Limit</label>

            <div class="col-md-4">
              {{input id="neInput" value=data.p2Text name="neinput" type="text" placeholder="<latitude>,<longitude>" class="form-control input-md"}}
              {{#if data.p2.isDirty}}
                {{#if data.p2.isValid}}
                    <span class="form-control-feedback" aria-hidden="true">{{fa-icon "check"}} </span>
                {{else}}
                    <span class="form-control-feedback" aria-hidden="true">{{fa-icon "exclamation-triangle"}} </span>
                    <span class="help-block" aria-hidden="true">Ex: 12.919297, 77.581935</span>
                {{/if}}
              {{else}}
                  <span class="help-block" aria-hidden="true">Ex: 12.919297, 77.581935</span>
              {{/if}}

            </div>
        </div>
        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="num">Number</label>

            <div class="col-md-4">
              {{input id="num" value=data.num name="num" type="number" placeholder="<number>" class="form-control input-md"}}

                <span class="help-block" aria-hidden="true">Ex: 10</span>


            </div>
        </div>


        <!-- Button (Double) -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="btn_gen"></label>

            <div class="col-md-8">
                <button id="btn_clear" name="btn_clear" class="btn btn-danger" {{action 'clear'}}>Clear</button>
            </div>

        </div>

    </fieldset>
</form>